@font-face {
  font-family: "Dmsans";
  src: url("../public/fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dmsans";
  src: url("../public/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dmsans";
  src: url("../public/fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular std";
  src: url("../public/fonts/Circular-Std-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular std";
  src: url("../public/fonts/Circular-Std-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular std";
  src: url("../public/fonts/Circular-Std-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular std";
  src: url("../public/fonts/Circular-Std-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-Bold.ttf") format("truetype"),
    url("../public/fonts/PublicSans-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-BoldItalic.ttf") format("truetype"),
    url("../public/fonts/PublicSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Publicsans";
  src: url("../public/fonts/PublicSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nanum Pen Script";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/NanumPenScript-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro";
  src: url("../public/fonts/GTWalsheimPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro";
  src: url("../public/fonts/GTWalsheimPro-Bold.ttf") format("truetype"),
    url("../public/fonts/GTWalsheimPro-UltraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro";
  src: url("../public/fonts/GTWalsheimPro-BlackOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro";
  src: url("../public/fonts/GTWalsheimPro-BoldOblique.ttf") format("truetype"),
    url("../public/fonts/GTWalsheimPro-UltraBoldOblique.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro Condensed";
  src: url("../public/fonts/GTWalsheimPro-CondensedBlack.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro Condensed";
  src: url("../public/fonts/GTWalsheimPro-CondensedBlackOblique.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro Condensed";
  src: url("../public/fonts/GTWalsheimPro-CondensedBold.ttf") format("truetype"),
    url("../public/fonts/GTWalsheimPro-CondensedUltraBold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro Condensed";
  src: url("../public/fonts/GTWalsheimPro-CondensedRegular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro Condensed";
  src: url("../public/fonts/GTWalsheimPro-CondensedBoldOblique.ttf")
      format("truetype"),
    url("../public/fonts/GTWalsheimPro-CondensedUltraBoldOblique.ttf")
      format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro Condensed";
  src: url("../public/fonts/GTWalsheimPro-CondensedLight.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro Condensed";
  src: url("../public/fonts/GTWalsheimPro-CondensedMedium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro Condensed";
  src: url("../public/fonts/GTWalsheimPro-CondensedMediumOblique.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro Condensed";
  src: url("../public/fonts/GTWalsheimPro-CondensedThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro Condensed";
  src: url("../public/fonts/GTWalsheimPro-CondensedThinOblique.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro Condensed";
  src: url("../public/fonts/GTWalsheimPro-CondensedRegularOblique.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro Condensed";
  src: url("../public/fonts/GTWalsheimPro-CondensedUltraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro Condensed";
  src: url("../public/fonts/GTWalsheimPro-CondensedUltraLightOblique.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro";
  src: url("../public/fonts/GTWalsheimPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro Condensed";
  src: url("../public/fonts/GTWalsheimPro-CondensedLightOblique.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro";
  src: url("../public/fonts/GTWalsheimPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro";
  src: url("../public/fonts/GTWalsheimPro-MediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro";
  src: url("../public/fonts/GTWalsheimPro-RegularOblique.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro";
  src: url("../public/fonts/GTWalsheimPro-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro";
  src: url("../public/fonts/GTWalsheimPro-ThinOblique.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro";
  src: url("../public/fonts/GTWalsheimPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro";
  src: url("../public/fonts/GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro";
  src: url("../public/fonts/GTWalsheimPro-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gtwalsheimpro";
  src: url("../public/fonts/GTWalsheimPro-UltraLightOblique.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
.tableUL {
  list-style: none;
  padding: 0;
  margin: 30px 0 0 0;
}
@media only screen and (max-width: 479px) {
  .tableUL {
    margin: 20px 0 0 0;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  transition: all 300ms;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  background-color: transparent;
  border: 0px solid transparent;
  padding: 0;
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="submit"] {
  background-color: transparent;
  border: 0px solid transparent;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
